{% extends 'AppRheo/base.html' %}
{% load static %}
{% block main %}

        <section class="page-section about-heading" style="margin-top: 100px;">
            <div class="container">
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <p>Estamos aquí para ayudarte a dar forma a tus ideas y llevar tus proyectos al siguiente nivel. Contáctanos hoy para descubrir cómo Rheo puede contribuir al éxito de tu próximo proyecto.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Nueva sección para el formulario -->
        <section class="page-section" style="margin-top: 1px;" id="formulario">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="bg-faded text-center rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Te responderemos lo mas pronto posible</span>
                                <span class="section-heading-lower">Contactános</span>
                            </h2>
                            <!-- Aquí puedes agregar tu formulario -->
                            
                            {% if form.errors %}
                            <p>Por favor revisar este campo</p>
                            {% endif %}
                            
                            <!-- Contenido del formulario -->
                            <form action="" method="POST">{%csrf_token%}
    
                                <div class="form-group">
                                    <label for="{{ form.asunto.id_for_label }}"></label>
                                    {{ form.asunto }}
                                </div>
                                
                                <div class="form-group">
                                    <label for="{{ form.email.id_for_label }}"></label>
                                    {{ form.email }}
                                </div>

                                <div class="form-group">
                                    <label for="{{ form.mensaje.id_for_label }}"></label>
                                    {{ form.mensaje }}
                                </div>
                                

                            
                                <input type="submit" value="Enviar" class="btn btn-primary" style="background-color: #4e342e; border-color: #4e342e;">
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
{% endblock main %}
