{% extends 'AppRheo/base.html' %}
{% load static %}
{% block main %}

        <section class="page-section clearfix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 mx-auto">
                        <div class="text-center mb-5">
                            <h1 style="color: #f5a623;">Contanos tu experiencia trabajando con nosotros</h1>
                        </div>
                        <div class="bg-faded p-2 rounded";>
                        
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="nombre_experiencia"></label>
                                    {{ form.nombre_experiencia }}
                                </div>
                                <div class="form-group">
                                    <label for="descripcion_experiencia">Contanos tu experiencia:</label>
                                    {{ form.descripcion_experiencia }}
                                </div>
                                <button type="submit" class="btn btn-primary" style="background-color: #4e342e; border-color: #4e342e;">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock main %}
