{% extends 'AppRheo/base.html' %}
{% load static %}
{% block main %}
        <section class="page-section clearfix"  style="margin-top: 5px;">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'AppRheo/assets/img/intro.jpg' %}" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">BIENVENIDO A RHEO</span>
                            <span class="section-heading-lower">INGENIERÍA QUE FLUYE</span>
                        </h2>
                        <p class="mb-2">
                            En Rheo, nuestra filosofía se basa en el concepto griego de "fluir". Así como el agua encuentra su camino a través del terreno, nosotros guiamos a nuestros clientes a través del complejo mundo de la ingeniería civil con fluidez y precisión.
                            <br><strong style="font-size: 1.25rem;">Registrate y podrás descargar proyectos realizados por nosotros.</strong>
                        </p>
                        <a class="btn btn-primary btn-xl" href="{% url 'Contacto' %}" style="background-color: #4e342e; border-color: #4e342e;">Solicitar Videollamada</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Nuestro compromiso</span>
                                <span class="section-heading-lower">con vos!</span>
                            </h2>
                            <p class="mb-0">Somos una consultora de ingeniería civil comprometida con la excelencia en cada proyecto. Nuestro equipo de expertos combina experiencia técnica, innovación y un enfoque centrado en el cliente para ofrecer soluciones integrales que no solo cumplen con los estándares más altos, sino que también superan las expectativas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock main %}
