{% extends 'AppRheo/base.html' %}
{% load static %}
{% block main %}

        <section class="page-section about-heading">
            <div class="container">
                <div class="image-container">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0 smaller-image" src="{% static 'AppRheo/assets/img/about.jpg' %}" alt="..." />
                </div>
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">La Filosofía de RHÉO</span>
                                    <span class="section-heading-lower">Excelencia en Cada Proyecto</span>
                                </h2>
                                <p>
                                    En Rheo, entendemos que cada proyecto es único. Por eso, trabajamos en estrecha colaboración con nuestros clientes para entender sus necesidades y ofrecer soluciones personalizadas que fluyan con sus objetivos. <br><br>
                                    Nuestro compromiso con la calidad, la eficiencia y la innovación asegura que cada proyecto se complete a tiempo, dentro del presupuesto y con los más altos estándares de calidad. <br><br>
                                    Desde el diseño y la planificación hasta la supervisión y ejecución, en Rheo ofrecemos una gama completa de servicios para asegurar que cada proyecto fluya de manera eficiente y efectiva.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4 text-center">
                            <span class="section-heading-lower">MIEMBROS DEL EQUIPO</span>
                        </h2>
                        <div class="d-flex justify-content-center">
                            <div class="card" style="width: 18rem;">
                                <img src="{% static 'AppRheo/assets/img/miembro1.jpg' %}" class="card-img-top" alt="Foto de miembro del equipo">
                                <div class="card-body">
                                    <h5 class="card-title">Ing. Civil Magali S. Londero</h5>
                                    <p class="card-text">CEO RHÉO Ingenieria</p>
                                    <a href="https://www.linkedin.com/in/magalilondero/" class="btn btn-primary" target="_blank">LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


{% endblock main %}