{% extends 'AppRheo/base.html' %}
{% load static %}
{% block main %}
    
    <section class="page-section about-heading" style="margin-top: 100px;">
        <div class="container">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <p>Desde el diseño y la planificación hasta la supervisión y ejecución, en Rheo ofrecemos una gama completa de servicios para asegurar que cada proyecto fluya de manera eficiente y efectiva.</p>
                            <br><strong style="font-size: 1.25rem;">Descarga ejemplos de trabajos realizados por nosotros</strong>
                            <br><a class="btn btn-primary btn-xl" href="{% url 'Login' %}" style="background-color: #4e342e; border-color: #4e342e;">Descargar Proyectos</a>

                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ms-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">La ciencia detrás de la estabilidad y seguridad.</span>
                            <span class="section-heading-lower">CÁLCULOS DE ESTRUCTURAS</span>
                        </h2>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'AppRheo/assets/img/products-03.jpg' %}" alt="..." />
                <div class="product-item-description d-flex me-auto">
                    <div class="bg-faded p-5 rounded">
                        <p class="mb-0">Nuestros cálculos de estructuras aseguran la integridad y seguridad de tus proyectos de construcción. Utilizamos metodología BIM (Building Information Modeling) para realizar análisis detallados que determinan la resistencia, estabilidad y durabilidad de los elementos estructurales. Este enfoque avanzado garantiza que cada diseño cumpla con los estándares de calidad y seguridad necesarios.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ms-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">Especialistas en Suelos</span>
                            <span class="section-heading-lower">ESTUDIOS GEOTÉCNICOS</span>
                        </h2>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'AppRheo/assets/img/products-01.jpg' %}" alt="..." width="400" height="250" />

                <div class="product-item-description d-flex me-auto">
                    <div class="bg-faded p-5 rounded">
                        <p class="mb-0">Nuestros estudios geotécnicos proporcionan un análisis detallado del suelo y subsuelo para garantizar la estabilidad y seguridad de tus proyectos de construcción. Evaluamos la capacidad de carga, la composición del suelo y las condiciones subterráneas, proporcionando datos críticos para un diseño y ejecución efectivos de estructuras.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex me-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">La base de cada gran proyecto</span>
                            <span class="section-heading-lower">RELEVAMIENTOS TOPOGRÁFICOS</span>
                        </h2>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'AppRheo/assets/img/products-02.jpg' %}" alt="..." width="400" height="250" />
                <div class="product-item-description d-flex ms-auto">
                    <div class="bg-faded p-5 rounded">
                        <p class="mb-0">Realizamos relevamientos topográficos precisos para mapear y analizar el terreno con detalle. Nuestros estudios proporcionan datos fundamentales sobre la elevación, la pendiente y las características del terreno, facilitando un diseño y planificación efectivos en tus proyectos de construcción y desarrollo.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- INICIO FORMULARIO-->
<section class="page-section clearfix" id="formulario-seccion">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9 mx-auto">
                <div class="text-center mb-5">
                    <h1 style="color: #f5a623;">Consulta si brindamos el servicio que estás necesitando</h1>
                </div>
                <div class="bg-faded p-5 rounded";>
                    <form method="post" id="busqueda-formulario" action="#formulario-seccion">
                        {% csrf_token %}
                        {{ miFormulario.as_p }}
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-primary mt-3" style="background-color: #4e342e; border-color: #4e342e;">Buscar</button>
                        </div>
                    </form>
                </div>
                <div class="bg-faded p-5 rounded p-5 shadow mt-5">
                    <h1>Resultados de la Búsqueda</h1>
                    {% if nombre_servicio %}
                        <ul class="list-group mt-4">
                            {% for servicio in nombre_servicio %}
                                <li class="list-group-item">{{ servicio.nombre_servicio }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="mt-4">No se encontraron servicios.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIN FORMULARIO-->



{% endblock main %}